<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon href="/img/cloudy.png">
  <title>Home</title>
</head>
<body>
  <div class="main-content">
    {{>header}}
    <p>Get your weather.</p>
    <form>
      <input type="text" placeholder="Location">
      <button>Search</button>
    </form>
    <p id="loading"></p>
    <p id="success-msg"></p>
    <p id="error-msg"></p>
  </div>
  {{>footer}}
  <script src="/js/app.js" type="module"></script>
</body>
</html>